<%= render partial: 'splash/splash' %>
<p style="color: green"><%= notice %></p>

<div id="mains">
  
<%= link_to "Log_in", new_user_session_path %>
<%= link_to "sign_up", new_user_registration_path %>

</div>