#splash-screen {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 4rem);
  height: 100%;
  margin: 0;
  padding: 0 2rem;
  justify-content: center;
  color: white;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}

.start,
.welcome,
.topic {
  margin: 1rem auto;
  text-align: justify;
}

.image {
  width: 6rem;
  height: 6rem;
}
